@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Poppins:wght@200;300;400;500;600;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #55efc4;
}

form {
    width: 500px;
    height: 250px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 1px 1px 15px #111;
}

form .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin-top: 15px;
}

form .container h2 {
    font-size: 22px;
    margin-bottom: 15px;
}
form .container input {
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 5px 15px;
}

form .container button {
    width: 100%;
    background: lime;
    outline: none;
    border: none;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}
